<!DOCTYPE html>
<head>
  <title>Is This True</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='isthistrue.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

  <script type="text/javascript">// <![CDATA[
    function loading(){
        $(".loading").show();
        $(".content").hide();       
    }
// ]]></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>

<body>
  <form action="/" method="post">
    <h3>I've heard that...</h3>
    <input type="text" name="input_text" \
      placeholder='{{ question }}' value="{{ question }}"  required />
    <h3>Is this true?</h3>
    <input class="content" type="submit" value="Submit" onclick="loading();" />
  </form>
  <div class="loading"></div>

  {% if result %}
  <div class="content result">{{ result }}</div>
  {% endif %}
</body>

